
.top{
    width:100%;
}
.top #mess{
    width:50%;
    font-size: 12px;
    margin:0 auto;
}
    .forms{
      background-color: #dcd8d0;
      z-index:10;
        position: absolute;
        height:160px;
        width:320px;
        bottom:0px;
    }
    .forms img{
      position:relative;
    }
    .forms  input{
      position: relative;
      top:-60px;
      left:20px;
  }
  .forms  textarea{
      position: relative;
      top:-50px;
      left:100px;
  }
  .forms  #submit{
      position: relative;
      top:-50px;
      left:250px;
  }